.signup-page {
  padding-top: 7rem;
  color: #fff;
  text-align: center;
}

.signup-title {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.plan-info {
  font-size: 1rem;
  color: #a8ff60;
  margin-bottom: 1.5rem;
}

.signup-card {
  background: #111;
  padding: 2rem;
  max-width: 420px;
  margin: auto;
  border-radius: 10px;
  border: 1px solid #333;
}

.form-group {
  margin-bottom: 1rem;
  text-align: left;
}

.form-group label {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 0.4rem;
  color: #ccc;
}

.form-group input {
  width: 100%;
  padding: 0.7rem;
  background: #1a1a1a;
  border: 1px solid #333;
  color: #fff;
  border-radius: 8px;
}

.signup-btn {
  width: 100%;
  margin-top: 1rem;
  background: #a8ff60;
  color: #000;
  padding: 0.9rem;
  border: none;
  border-radius: 8px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}

.signup-btn:hover {
  background: #8be54d;
}
.error-msg {
  color: #ff4d4d;
  margin-top: 0.5rem;
  font-size: 0.9rem;
}